/* You can add global styles to this file, and also import other style files */
.chessNavbar{
  background-color: #297ace;
}
.headerTitle{
  color: white;
  font-size: 24px;
  font-family: SansSerif;
  margin-left:5px;
}

.headerIcon {
  margin-top: -8px;
}
.loginBox {
  background-color: white;
}
.loginIcon{
  color:red;
  margin-right: 5px;
  float:right;
}
.loginTitle{
  font-size: 12px;
  float:left;
  margin-right:5px;
  margin-top: 5px;
  margin-bottom:5px;
  margin-left: 5px;
  font-weight: bold;
}
.pieces{
  max-width:60px;
  min-width:60px;
  max-height:60px;
  min-height:60px;
  margin-right:1px;
}

.rowClass{
  margin-bottom: 0px;
}
.whiteCell{
  background-color: #ebebeb;
  border:1px solid #ebebeb;
}

.blueCell{
  background-color: #7c8ebc;
  border:1px solid #7c8ebc;
}

.containerTable{
  margin-top: 30px;
  margin-left:200px;
}
.bottomEdge{
  width:523px;
  background-color: #314158;
  color:white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
.bottomNumbers{
  width:63px;
  margin-bottom: -2px;
  padding-left: 25px;
  border-right: 1px solid white;
}
.VerticalEdge{
  background-color: #314158;
  color:white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  width:18px;
  padding-left:3px;
  padding-top:17px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.cornerLeftBottom{
  background-color: #314158;
  max-width: 18px;
  min-width: 18px;
  border-right: 1px solid white;
}
.cornerRightBottom{
  background-color: #314158;
  max-width: 18px;
  min-width: 18px;
}



.topEdge{
  width:523px;
  background-color: #314158;
  color:white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom:1px;
}


.pieces:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {

  background-color: rgba(126, 209, 38, 0.6);
  border: 2px solid rgba(126, 209, 38, 0.6);
  cursor: pointer;

}
