<nav class="navbar navbar-expand-lg   chessNavbar">
  <div class="d-flex justify-content-between" style="width:100%">

    <div>
      <img class="headerIcon" src="assets/headerIcon.png">
      <span routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{exact:true}" class="headerTitle">Chess Master</span>
      <span routerLinkActive="active" routerLink="/scores"class="headerTitleMenu">{{ 'scores' | translate }}</span>
      <span routerLinkActive="active" routerLink="/about"class="headerTitleMenu">{{ 'about' | translate }}</span>
    </div>

    <div class="loginBox">
      <p class="loginTitle">  {{ 'Login' | translate }}</p>
      <i (click)="onOpenTest()" class="fa fa-sign-in loginIcon fa-2x" aria-hidden="true"></i>
    </div>

  </div>
  <div id="country_selector" type="text" style="width: 40px;margin-right:5px;background-color: white">
  </div>

  <select style="margin-left:-25px;" (change)="switchLanguage($event.target.value)">
    <option value="tr">TR</option>
    <option value="en">US</option>
  </select>

</nav>





